*{padding:0;margin:0;border:0;font-family:'Open Sans',sans-serif;-moz-osx-font-smoothing: grayscale;font-style:normal;-webkit-font-smoothing: subpixel-antialiased;list-style:none;text-decoration:none;text-rendering: optimizeLegibility;
	/*-webkit-transition: 500ms ease-out;
  -moz-transition: 500ms ease-out;
  -o-transition: 500ms ease-out;
  transition: 500ms ease-out;*/

/*  transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
*/
}

div,
article,
section,
header,
footer,
nav,
li					{ position:relative; /* For absolutely positioning elements within containers (add more to the list if need be) */ }
.group:after 		{ display:block; height:0; clear:both; content:"."; visibility:hidden; /* For clearing */ }
body 				{ background:#fff; /* Don't forget to style your body to avoid user overrides */ }
::-moz-selection 	{ color:#fff; background:rgb(87,149,246); }
::selection 		{ color:#fff; background:rgb(87,149,246); }

/* ---------------------------------------------------------------------------------------------------------- 
Typography -----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/*

14 / 16	= 		0.875em 		(14px equivalent)
16 / 16	= 		1em 			(16px equivalent)
18 / 16 = 		1.125em 		(18px equivalent)
21 / 16 = 		1.3125em 		(21px equivalent)
24 / 16 = 		1.5em 			(24px equivalent)
30 / 16 = 		1.875em 		(30px equivalent)

*/

body,
input,
textarea 			{ /* We strongly recommend you declare font-weight using numerical values, but check to see which weights you're exporting first */ }


html,
body{
	height:100%;
}

/*
BLUE: rgb(14,33,128); #0e2180;

ORANGE: rgb(250,137,36); #fa8924;

DARK PURPLE: rgb(46,26,71); #2e1a47;

LIGHT BLUE: rgb(87,149,246); #5795f6;

*/

/* COLOR CLASSES */
.dark-purple-color,
.purple-color{
	color:rgb(46,26,71);
}

.dark-purple-bkg,
.purple-bkg{
	background:rgb(46,26,71);
}

.blue-color{
	color:rgb(14,33,128);
}

.blue-bkg{
	background:rgb(14,33,128);
}

.orange-color{
	color:rgb(250,137,36);
}

.orange-bkg{
	background:rgb(250,137,36);
}

.light-blue-color{
	color:rgb(87,149,246);
}




.page-width-container{
	width:960px;
	height:auto;
	margin:0 auto;
}

section{
	float:left;
	width:100%;
}

header,
footer{
	width:100%;
	height:52px;
	background:rgb(255,255,255);
	/*
	-webkit-box-shadow: 0px 0px 5px 5px rgba(14,33,128,0.2);
	-moz-box-shadow: 0px 0px 5px 5px rgba(14,33,128,0.2);
	box-shadow: 0px 0px 5px 5px rgba(14,33,128,0.2);
	position:fixed;
	z-index:100;
	*/
}

footer{
	background:rgb(14,33,128);
	height:170px;
}

header .logo,
footer .logo{
	width:108px;
	height:100%;
	background-image:url('images/advia-header-logo.png');
	background-repeat:no-repeat;
	background-position:center;
	float:left;
	display:inline-block;
}

footer .logo{
	background-image:url('images/advia-footer-logo-white.png');
	width: 100%;
	height: 71px;
	background-size: auto 70%;
	margin: 0 auto;
	margin-top: 15px;
}

footer .logo-container{
	width:240px;
	font-size:11px;
	color:rgb(255,255,255);
	font-weight:300;
	margin:0 auto;
	margin-top:20px;
}

header .page-width-container,
footer .page-width-container{
	height:100%;
}

header ul,
footer ul{
	color:rgb(14,33,128);
	font-size:12px;
	text-transform:uppercase;
	font-weight:600;
	list-style:none;
	float:right;
}

footer ul{
	margin-top: 60px;
	font-size: 10px;
}

header ul li,
footer ul li{
	display:inline-block;
	float:left;
	
}

header ul li a,
footer ul li a {
	width:100%;
	height:100%;
	display:block;
	text-decoration:none;
	color:rgb(14,33,128);
	padding:18px 25px;
	
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	
}

footer ul li a{
	color:rgba(255,255,255,1.0);
	
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
}

header ul li a:hover > span{
	border-bottom: 2px solid rgba(87,149,246,1);
}


footer ul li a:hover > span{
	border-bottom: 1px solid rgba(255,255,255,1);
	
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
}


header ul li a span{
	border-bottom: 2px solid rgba(87,149,246,0);
	padding-bottom: 4px;
	
	
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
}

footer ul li a span{
	border-bottom: 1px solid rgba(255,255,255,0);
	font-weight: 300;
	letter-spacing: 2px;
	padding-bottom:4px;
	
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
}

.header-gradient{
	width:100%;
	height:3px;
}

footer,
.push{
	clear:both;
	/*
	height: 4em;
	*/
}

.footer-push{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto;
	margin-bottom: 100px;
}

.gradient{
	background: #5591f2; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1OTFmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzMwOGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #5591f2 0%, #17308e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5591f2), color-stop(100%,#17308e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #5591f2 0%,#17308e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #5591f2 0%,#17308e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #5591f2 0%,#17308e 100%); /* IE10+ */
	background: linear-gradient(to right,  #5591f2 0%,#17308e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5591f2', endColorstr='#17308e',GradientType=1 ); /* IE6-8 */
}

.selected-header{
	border-bottom: 2px solid rgba(87,149,246,1);
	padding-bottom: 4px;
}

.selected-footer{
	border-bottom: 1px solid rgba(255,255,255,1);
	padding-bottom: 4px;
}


h1{
	text-transform:uppercase;
	font-weight:400;
	font-size:37px;
	margin-top:64px;
	float:left;
	clear:both;
}

h2{
	font-style:italic;
	font-weight:400;
	font-size:18px;
	float:left;
	clear:both;
}

.border-top-light-blue{
	border-top: 3px solid rgb(87,149,246);
	padding-top: 11px;
	margin-top: 8px;
}

.border-bottom-light-blue{
	border-bottom: 3px solid rgb(87,149,246);
	padding-bottom:8px;
	margin-bottom: 7px;
}

h3{
	font-size:16px;
	font-weight:400;
	float:left;
	margin-top:36px;
	line-height:23px;
	width: 90%;
}

h4{
	font-size:20px;
	font-weight:700;
	float:left;
}

.regular{
	font-weight:400;
}

.semi-bold{
	font-weight:600;
}

.bold{
	font-weight:800;
}


/*carousel thing*/
.lines-box{
	width:100%;
	height:575px;
	background:rgb(46,26,71);
	float:left;
	margin-top:48px;
	margin-bottom:48px;
}

.our-approach-page .lines-box{
	margin-top:34px;
	margin-bottom:34px;
}

.blue-box{
	width:100%;
	height:116px;
	background:rgb(87,149,246);
	position:absolute;
	bottom:0;	
}


section.light-grey{
	background:#f1f2f2;
	margin-top:52px;
}

section.light-grey h3{
	text-transform:uppercase;
	font-size:18px;
	margin-top:36px;
	font-weight:600;
}

section.light-grey ul{
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	height:auto;
	margin:42px 0;
	float:left;
}

section.light-grey ul li{
	width:33.33%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	display:inline-block;
	float:left;
}

section.light-grey ul li .icon{
	width:100%;
	height:100px;
	background-repeat:no-repeat;
	background-size:auto;
	background-position:bottom left;
}

section.light-grey ul li:first-child .icon{
	background-image:url('images/icon-1.png');
}

section.light-grey ul li:nth-child(2) .icon{
	background-image:url('images/icon-2.png');
}

section.light-grey ul li:nth-child(3) .icon{
	background-image:url('images/icon-3.png');
}

section.light-grey ul li h4{
	text-transform:uppercase;
	font-size:18px;
	font-weight:600;
	float:left;
	margin-top:26px;
	width:100%;
	margin-bottom: 14px;
}

section.light-grey ul li p{
	font-weight:300;
	font-size:17px;
	float:left;
	width: 83%;
}

section.light-grey ul li .line{
	height:2px;
	width:82%;
	margin:14px 0;
	clear:both;
}


p.bottom-statement{
	font-size:16px;
	-height:23px;
	width:90%;
	margin-top:80px;
	margin-bottom:70px;
	font-weight:400;
}

.round-button,
.form-container form #submitform{
	text-align:center;
	height:auto;
	font-size:16px;
	text-transform:uppercase;
	letter-spacing:4px;
	font-weight:400;
	
	padding:16px 50px;
	
	color:rgb(255,255,255);
	margin:0 auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	border:1px solid rgba(250,137,36,0.0);
	clear:both;
	
	cursor:pointer;
	
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
}

.round-button:hover{
	background:rgba(255,255,255,1.0);
	border:1px solid rgb(250,137,36);
	color:rgb(250,137,36);
}

.center-align{
	text-align:center;
	margin-bottom:100px;
	margin-top: 35px;
}



.advantage-arrow{
	background-image:url('images/advia-arrow-advantage.png');
	width:111px;
	height:91px;
	background-repeat:no-repeat;
	background-size:auto;
	background-position:center;
	float:left;
	top: 46px;
	margin-right: 24px;
}


section.longer-width-container{
	width:1229px;
	margin:0 auto;
	float:none;
	padding-top: 44px;
}

section.width1095 .page-width-container{
	float:left;
}


.italic{
	font-style:italic;
}


ul.bullet-list,
.bullet-section ul{
	float:left;
	list-style:none;
	font-size:18px;
	line-height: 36px;
}

ul.bullet-list li,
.bullet-section ul li{
	padding-left:18px;
    text-indent:-18px;
    line-height: 26px;
    margin-top: 14px;
}

.bullet-section ul li:before,
ul.bullet-list li:before {
  content: ">";
  color:rgb(87,149,246);
  padding-right: 5px;
  display:inline;
  font-weight:800;
}

ul.bullet-list li p,
.bullet-section ul li p{
	display:inline;
}







.blue-box p{
	width:90%;
	color:rgb(255,255,255);
	font-size:18px;
	font-weight:300;
	margin-top:30px;
	line-height:27px;
}

.purple-heading{
	font-size:20px;
	line-height:27px;
	color:rgb(255,255,255);
	text-transform:uppercase;
	text-align:center;
	letter-spacing: 1.5px;
	width: 1039px;
}

.lines-box .page-width-container{
	padding-top:30px;
}

.lines-box .blue-box .page-width-container{
	padding-top:0;
}


.longer-width-container .page-width-container{
	float:left;
}










#diamond {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid red;
	border-bottom: 50px solid transparent;
}

.blue-arrow{
	width:224px;
	height:88px;
	background-image:url('images/blue-arrow-2.png');
	background-repeat:no-repeat;
	background-size:auto;
	background-position:center right;
	display:inline-block;
	position: absolute;
}

.blue-arrow p{
	margin-top:32px;
}

.blue-arrow-container{
	width:575px;
	height:88px;
	margin:0 auto;
	text-transform:uppercase;
	font-size:15px;
	font-weight:300;
	text-align:center;
	color:rgb(255,255,255);
	letter-spacing:3px;

	margin-top: 120px;
	z-index:7;
	
	margin-left: auto;
	margin-right: auto;

}

#blue-arrow-1{
	left:0;
	z-index:10;
	background-image:url('images/blue-arrow-1a.png');
	width:203px;
}

#blue-arrow-2{
	left:182px;
	z-index:9;
	left:-20px;
	opacity:0;
}

#blue-arrow-3{
	left:386px;
	z-index:8;
	background-image:url('images/blue-arrow-1a.png');
	width:203px;
	left:0;
}

#blue-arrow-4{
	left:386px;
	z-index:8;
	background-image:url('images/big-arrow.png');
	width:524px;
	height:84px;
	left:15px;
}

#blue-arrow-5{
	left:386px;
	z-index:8;
	background-image:url('images/big-arrow-flip.png');
	width:524px;
	height:84px;
	left: 20px;
}

#blue-arrow-6{
	left:386px;
	z-index:8;
	background-image:url('images/last-arrow.png');
	width:577px;
	height:84px;
	left:0;
	z-index:20;
}

.woman{
	width:80px;
	height:320px;
	background-repeat:no-repeat;
	background-position:center;
	background-size:auto;
	float:left;
	z-index:15;
	position: absolute;

}

#woman-1{
	background-image:url('images/woman-1.png');
	left: 80px;
	float:left;
}

#woman-2{
	background-image:url('images/woman-2.png');
	float:right;
	right:90px;
}

#woman-3{
	width:133px;
	height:212px;
	background-image:url('images/woman-close.png');
	position:absolute;
	left:380px;
	top:80px;
	z-index:10;
}

.last-circle{
	background-image:url('images/last-circle.png');
	width:286px;
	height:285px;
	margin:0 auto;
	position:absolute;
	left:300px;
}

.item:nth-child(4) .blue-arrow-container{
	margin-top:220px;
	z-index:12;
}


.swirl-container{
	width:900px;
	height:335px;
	margin:0 auto;
	/*
	background-image:url('images/swirl.png');
	background-repeat:no-repeat;
	background-size:auto;
	background-position:center;
	*/
	margin-top: 25px;
	
	background:rgba(46,26,71,1.0);
	
	float:left;
	
	overflow:hidden;
	
}

.item:nth-child(2) .swirl-bkg{
	left: 190px;
}

.our-approach-page .item{
	overflow: visible;
	height:100%;
	width: 900px;
	position:absolute;
}

.left-title,
.right-title{
	font-weight:300;
	font-size:15px;
	text-align: center;
	text-transform: uppercase;
	float:left;
	color:rgb(255,255,255);
	margin-top: 145px;
	background:rgb(46,26,71);
	padding: 5px 0;
	z-index:5;
	position:absolute;
}

.left-title{
	margin-left:20px;
	float:left;
}

.right-title{
	margin-left:8px;
	float:right;
	right:0;
}


.swirl-bkg{
	position: absolute;
	left: 35px;
	top: 50px;
	z-index:1;
	opacity:0;
}

.before-cta-p{
	text-align:center;
	margin:0 auto;
	position:relative;
	margin-top: 50px;
	font-size: 16px;
	font-weight: 500;
}

.lines-box .page-width-container{
	width:1100px;
	overflow-y: auto;
}

.lines-box .blue-box .page-width-container{
	width:960px;
}

.left-arrow-blue,
.right-arrow-blue{
	background-repeat:no-repeat;
	background-size:50%;
	
	width:72px;
	height:60px;
	float:left;
	position:relative;
	
	top:164px;
	
	cursor:pointer;
}

.left-arrow-blue{
	background-image:url('images/arrow-left.png');
	background-position:center left;
}

.right-arrow-blue{
	background-image:url('images/arrow-right.png');
	background-position:center right;
}






/*========== OUR TEAM ==========*/
.our-team-page h3,
.contact-page h3{
	margin-top:10px;
}

ul.our-team-list{
	list-style:none;
	float:left;
	margin-top:60px;
}

ul.our-team-list li{
	float:left;
	display:block;
	width:100%;
	height:auto;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	padding: 34px 0;

}

ul.our-team-list li:nth-child(even){
	background:rgb(242,242,242);
}

ul.our-team-list li .team-photo{
	width:auto;
	height:auto;
	float:left;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	z-index:10;
}

ul.our-team-list li .team-photo img{
	max-height:250px;
}

ul.our-team-list li .team-info{
	float:left;
	text-align:left;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	-moz-box-sizing:border-box;
	/*
	width:calc(100% - 245px);
	*/
	padding-left:42px;
}

ul.our-team-list li h2{
	color:rgb(250,137,36);
	font-size:16px;
	font-weight:700;
	font-style:normal;
	display:block;
	width:100%;
}

ul.our-team-list li h3{
	text-transform:capitalize;
	color:rgb(14,33,128);
	font-size:16px;
	font-weight:400;
	margin:0;
	width:auto;
	display:block;
	width:auto;
}

ul.our-team-list li p{
	color:rgb(0,0,0);
	font-size:14px;
	font-weight:300;
	display:block;
	width:100%;
	line-height:23px;
	clear:both;
}

.team-line{
	height:3px;
	width:220px;
	left: -50px;
	float:left;
	clear:both;
	margin:8px 0;
	position:relative;
	z-index:1;
	width:295px;
}

ul.our-team-list li:nth-child(1) .team-line{
	/*
	left: -80px;
	*/
}

ul.our-team-list li:nth-child(2) .team-line{
	/*
	left: -50px;
	width:295px;
	*/
}

ul.our-team-list li:nth-child(3) .team-line{
	/*
	left: -80px;
	*/
}

ul.our-team-list li:nth-child(4) .team-line{
	/*
	left: -70px;
	*/
}

ul.our-team-list li:nth-child(1){
	padding-top:0;
}

ul.our-team-list li .more-button{
	font-weight:600;
	color:rgb(87,149,246);
	font-size:14px;
	padding: 10px 10px 10px 0px;
	float:left;
	cursor:pointer;
}

ul.our-team-list li p.hidden{
	
	display:none;
}

ul.our-team-list .page-width-container{

}

.accordion-content{
	float:left;
	width:100%;
}





/*========== CONTACT ==========*/
.form-container{
	background:#5795f6;
	width:100%;
	margin-top:35px;
}

.form-container form{
	padding:35px 0;
	overflow: auto;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.form-container form .left-side-form{
	width:33.33%;
	float:left;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

/*.form-container form input,*/
#fullname,
#emailaddress,
#companyname,
#phonenumber{
	padding:10px;
	width:100%;
	font-size:14px;
	border: 1px solid #5795f6;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float:left;
	margin-top:14px;
	position:relative;
	z-index:500;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.form-container form input:first-child{
	margin-top:0;
}


.form-container form .right-side-form{
	width:66.67%;
	float:left;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding-left:20px;
}

.form-container form .text-box,
.form-container form #yourmessage{
	padding:10px;
	width:100%;
	font-size:14px;
	border: 1px solid rgb(188,188,188);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float:left;
	height:100%;
	position:relative;
	z-index:500;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.form-container form input.submit-button-form,
.form-container form #submitform{
	font-size:14px;
	background:rgb(250,137,36);
	color:#fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float:left;
	margin-top:14px;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.right-side-form .round-button{
	margin-top:20px;
}

.contact-footer{
	font-weight:300;
	font-size:12px;
}

.contact-footer .advia-logo{
	background-image:url('images/advia-contact-footer-logo.jpg');
	width:204px;
	height:71px;
	margin-top:50px;
}

.contact-footer p{
	margin-top:8px;
	line-height:20px;
}

#fullname{
	margin-top:0;
}









/*========== OUR ADVANTAGE ==========*/
.our-advantage-page{
	
}

.main-home-container{
	float:left;
	position:relative;
	color:rgb(255,255,255);
	padding-top: 44px;
}

.home-logo{
	width:375px;
	height:130px;
	background-image:url('images/advia-logo-home.png');
	margin:0 auto;
	margin-top: 47px;
}

.our-advantage-page h1,
.our-advantage-page h2{
	font-size:16px;
	font-weight:300;
	text-transform: none;
	line-height:26px;
	float:left;
	font-style:normal;
}

.our-advantage-page h1{
	/*
	font-size:19px;
	*/
	margin-top: 42px;
}

.our-advantage-page h2{
	margin-bottom:30px;
}


.left-side-home,
.right-side-home{
	width:auto;
	float:left;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.left-side-home{
	width:585px;
	padding-right: 60px;
	margin-bottom: 30px;
}

.left-side-home .line{
	height:3px;
	width:50%;
	background:#5795f6;
	float:right;
}

.right-side-home .line{
	height:3px;
	width:50%;
	background:#5795f6;
	float:left;
}

.main-line-container{
	top:26px;
	width:100%;
	float:left;
}

.float-left{
	float:left;
}

.white-line{
	width:100%;
	height:1px;
	background:#fff;
	float:left;
	margin:16px 0;
}



/*
BLUE: rgb(14,33,128); #0e2180;

ORANGE: rgb(250,137,36); #fa8924;

DARK PURPLE: rgb(46,26,71); #2e1a47;

LIGHT BLUE:  #5795f6;

*/



.callout{
	width:100%;
	padding:30px 0;
	color:rgb(255,255,255);
	font-weight:300;
	font-size:16px;
	line-height:26px;
}


.item{
	float:left;
}

.item-container{
	width:3600px;
	height: 335px;
}
/*
.item:nth-child(2){
	background:yellow;
}
.item:nth-child(3){
	background:orange;
}
.item:nth-child(4){
	background:red;
}
*/
.pagination{
	width:100px;
	height:25px;
	position:absolute;
	bottom:0;
	left:400px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.circle{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border:1px solid #fff;
	height:12px;
	width:12px;
	display:inline-block;
	z-index:2;
	margin-right:9px;
	
	cursor:pointer;
}

.circle:last-child{
	margin-right:0;
}

.pagination .circle:hover{
	background:rgba(210,210,210,1.0) !important;
}

.pag-line{
	width:85%;
	height:1px;
	background:#fff;
	z-index:1;
	position:absolute;
	top:11px;
}

.item-text-container{
	width:3840px;
}

.item-text{
	width:960px;
	float:left;
}

.blue-box .page-width-container{
	overflow:hidden;
}



.white-bkg{
	background:rgb(255,255,255);
}

.lines-box-home .swirl-container{
	width:960px;
	height:auto;
	background:rgba(255,255,255,0.0);
	margin-top:0;
}

.lines-box-home .page-width-container{
	width: 1107px;
	padding-top:0;
}

.lines-box-home .item-container{
	width:2880px;
}

.lines-box-home .item{
	width:960px;
}

.lines-box-home .item h4{
	text-transform:uppercase;
	font-size:24px;
	font-weight:400;
	letter-spacing:1px;
	margin-bottom:10px;
}

.lines-box-home .blue-box{
	position:relative;
	float:left;
	background:rgba(255,255,255,0.0);
	color:rgb(14,33,128);
	margin-top: 20px;
}

.lines-box-home .blue-box p{
	color:rgb(14,33,128);
	font-size:17px;
	margin:8px auto;
	text-align:center;
	width:100%;
}

.orange-line-fixed{
	height:2px;
	width:100%;
}


.orange-gradient{
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhODkyNCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZhODkyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYTg5MjQiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(250,137,36,0) 0%, rgba(250,137,36,1) 50%, rgba(250,137,36,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(250,137,36,0)), color-stop(50%,rgba(250,137,36,1)), color-stop(100%,rgba(250,137,36,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(250,137,36,0) 0%,rgba(250,137,36,1) 50%,rgba(250,137,36,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(250,137,36,0) 0%,rgba(250,137,36,1) 50%,rgba(250,137,36,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(250,137,36,0) 0%,rgba(250,137,36,1) 50%,rgba(250,137,36,0) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(250,137,36,0) 0%,rgba(250,137,36,1) 50%,rgba(250,137,36,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fa8924', endColorstr='#00fa8924',GradientType=1 ); /* IE6-8 */

}

.pink-color{
	color:#eda4a4;
}



header{
	position:fixed;
	z-index:1000;
}

.item .white-h5-container{
	position:absolute;
	bottom:0px;
	color:orange;
	width:100%;
	height:100px;
	background:rgba(255,255,255,0.0);
	padding:0 23px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.item .white-h5-container h5,
.item .white-h5-container h6{
	color:rgb(255,255,255);
	text-shadow: 2px 2px 5px rgba(0,0,0,0.75);
	font-weight:400;
}

.item .white-h5-container h5{
	font-size:36px;
	float:left;
}

.item .white-h5-container h6{
	font-size:27px;
	float:right;
}

.gif{
	position:absolute;
	top: 60px;
	left: 670px;
	width:265px;
	height:230px;
	background: url('images/home-slider/png/1-ent-2/all.png');
	background-position: 0 center;
	background-repeat:no-repeat;
	
	/*
	animation: myAnim .8s steps(19,end) infinite;
	-webkit-animation: myAnim 0.8s steps(19) 1;
	-webkit-animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
	*/
}

.gif{
	background: url('images/home-slider/png/1-ent-2/all.png');
	background-position: 0 center;
	background-repeat:no-repeat;
}


.gif-1-ent-1{
	position:absolute;
	top: 54px;
	left: 320px;
	width:186px;
	height:184px;
	background: url('images/home-slider/png/1-ent-1/all.png') 0 center;
	/*
	animation: myAnim .8s steps(19,end) infinite;
	-webkit-animation: myAnim 0.8s steps(19) 1;
	-webkit-animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
	*/
}

.gif-2-med-1{
	position:absolute;
	top: 54px;
	left: 140px;
	width:175px;
	height:215px;
	background: url('images/home-slider/png/2-med-1/all.png') 0 center;
}

.gif-2-med-2{
	position:absolute;
	top: 54px;
	left: 645px;
	width:204px;
	height:228px;
	background: url('images/home-slider/png/2-med-2/all.png') 0 center;
}

.gif-3-ret-1{
	position:absolute;
	top: 54px;
	left: 76px;
	width:301px;
	height:260px;
	background: url('images/home-slider/png/3-ret-1/all.png') 0 center;
}

.gif-3-ret-2{
	position:absolute;
	top: 48px;
	left: 622px;
	width:310px;
	height:260px;
	background: url('images/home-slider/png/3-ret-2/all.png') 0 center;
}


.swirl-2{
	width:532px;
	height:220px;
	background: url('images/home-slider/png/swirl-2/all_.png') 0 center;
	background-repeat:no-repeat;
	background-position-x:532px;
	position:absolute;
	top: 48px;
	left: 180px;
}

.swirl-1{
	width:832px;
	height:232px;
	background: url('images/home-slider/png/swirl-1/all.png') 0 center;
	background-repeat:no-repeat;
	background-position-x:832px;
	position:absolute;
	top: 48px;
	left: 32px;
}

.end-swirl{
	width:406px;
	height:260px;
	background: url('images/end-swirl-all.png') 0 center;
	background-repeat:no-repeat;
	background-position-x:0;
	position:absolute;
	top: 0px;
	left: 242px;
}

@keyframes myAnim {
	0% { background-position: 0 center; }
    100% { background-position: -5035px center; } /* negative of sprite sheet width */
}


@-webkit-keyframes myAnim {
	0% { background-position: 0 center; }
    100% { background-position: -5035px center; } /* negative of sprite sheet width */
}


.item:nth-child(2) .swirl-bkg{
	/*
	margin-top:114px;
	*/
	top: 57px;
}

.item:nth-child(1) .blue-arrow-container{
	width: 615px;
}

.item:nth-child(2) .blue-arrow-container,
.item:nth-child(3) .blue-arrow-container{
	overflow:hidden;
}

.white-line{
	opacity:0.0;
}

.contact-page .round-button:hover,
.form-container form #submitform:hover{
	background:rgba(255,255,255,00.0);
	border:1px solid rgba(255,255,255,1.0);
	color:rgba(255,255,255,1.0);
}

.contact-page section.confirm{
	opacity:0;
	top:20px;
}

.contact-page section.confirm .page-width-container{
	margin-top:50px;
}

.contact-page h4{
	font-weight:400;
}


.opac75{
	color:rgba(255,255,255,0.75);
}

.left-side-home strong{
	font-weight:600;
}

.left-side-home em{
	font-style:italic;
}

.logo-container p{
	clear:both;
	text-align:center;
	line-height: 17px;
}

.contact-footer{
	margin-top: 50px;
}

footer{
	
}

.center-text{
	text-align:center;
}

.blue-arrow-container strong{
	font-weight: 800;
}

.bullet-section h4{
	font-weight:600;
}

.wpcf7-response-output{
	color:#fff;
}

.screen-reader-response{
	display:none;
}

#submitform{
	z-index:200;
	position:relative;
}